/*
 * Copyright 2012 Freescale Semiconductor, Inc.
 *
 * Author: Fabio Estevam <fabio.estevam@freescale.com>
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

/dts-v1/;
#include "imx23.dtsi"

/ {
	model = "Wiren Board rev. 4.1 (i.MX23)";
	compatible = "contactless,imx23-wirenboard41", "contactless,imx23-wirenboard32", "olimex,imx23-olinuxino", "fsl,imx23";

	memory {
		reg = <0x40000000 0x04000000>;
	};


    clk16m: oscillator {
         compatible = "fixed-clock";
         #clock-cells = <0>;
         clock-frequency  = <16000000>;
         clock-output-names = "clk16m";
    };

	apb@80000000 {
		apbh@80000000 {
			ssp0: ssp@80010000 {
				compatible = "fsl,imx23-mmc";
				pinctrl-names = "default";
				pinctrl-0 = <&mmc0_4bit_pins_a &mmc0_pins_fixup>;
				bus-width = <4>;
				broken-cd;
				status = "okay";
			};

			pinctrl@80018000 {
				pinctrl-names = "default";
				pinctrl-0 = <&hog_pins_a
							>;

				rfm69_raw_pins: rfm69_raw_pins@0 {
					reg = <0>;
					fsl,pinmux-ids = <
						MX23_PAD_GPMI_CE1N__GPIO_2_27	/* RFM69_DIO2 */
					>;
					fsl,drive-strength = <0>;
					fsl,voltage = <1>;
					fsl,pull-up = <0>;
				};

				hog_pins_a: hog@0 {
					reg = <0>;
					fsl,pinmux-ids = <
						0x2013 /* MX23_PAD_SSP1_DETECT__GPIO_2_1 */
						0x0113 /* MX23_PAD_GPMI_ALE__GPIO_0_17 */
					>;
					fsl,drive-strength = <0>;
					fsl,voltage = <1>;
					fsl,pull-up = <0>;
				};

				led_pin_gpio2_1: led_gpio2_1@0 {
					reg = <0>;
					fsl,pinmux-ids = <
						0x2013 /* MX23_PAD_SSP1_DETECT__GPIO_2_1 */
					>;
					fsl,drive-strength = <0>;
					fsl,voltage = <1>;
					fsl,pull-up = <0>;
				};

				i2c_gpio: i2c_gpio {
					reg = <0>;
					fsl,pinmux-ids = <
						0x0173 // MX23_PAD_GPMI_WPN__GPIO_0_23
						0x0193 // MX23_PAD_GPMI_RDN__GPIO_0_25
					>;
					fsl,pull-up = <1>;
				};

		        i2c0_pins_a: i2c0@0 {
		           reg = <0>;
		           fsl,pinmux-ids = <
		           0x1171 /* MX23_PAD_LCD_ENABLE__I2C_SCL */
		           0x1181 /* MX23_PAD_LCD_HSYNC__I2C_SDA */
		           >;
		           fsl,drive-strength = <1>;
		           fsl,voltage = <1>;
		           fsl,pull-up = <1>;
		        };

		        i2c0_pins_a_gpio: i2c0_pins_a_gpio {
		           reg = <0>;
		           fsl,pinmux-ids = <
		           0x1173 /* MX23_PAD_LCD_ENABLE__GPIO_1_23 */
		           0x1183 /* MX23_PAD_LCD_HSYNC__GPIO_1_24 */
		           >;
		           fsl,drive-strength = <1>;
		           fsl,voltage = <1>;
		           fsl,pull-up = <1>;
		        };

				spi2_pins_nocs: spi2@0 {
					reg = <0>;
					fsl,pinmux-ids = <
						0x0182 /* MX23_PAD_GPMI_WRN__SSP2_SCK */
						0x0142 /* MX23_PAD_GPMI_RDY1__SSP2_CMD */
						0x0002 /* MX23_PAD_GPMI_D00__SSP2_DATA0 */
					>;
					fsl,drive-strength = <1>;
					fsl,voltage = <1>;
					fsl,pull-up = <1>;
				};

		        cs_mem_gpio_pins: cs_mem_gpio_pins{
		           reg = <0>;
		           fsl,pinmux-ids = <
			           0x0133 /* MX23_PAD_GPMI_RDY0__GPIO_0_19 */
		           >;
		           fsl,drive-strength = <1>;
		           fsl,voltage = <1>;
		        };







			};

			ssp1: ssp@80034000 {
				#address-cells = <1>;
				#size-cells = <0>;
				compatible = "fsl,imx23-spi";
				pinctrl-names = "default";
				pinctrl-0 = <&spi2_pins_nocs &cs_mem_gpio_pins>;
				status = "okay";
				cs-gpios = <&gpio0 3 0 /* cs0 fixme: use hardware cs directly*/
							&gpio0 4 0 /* rfm69 */
							&gpio1 24 0  /* CSN @ extension (  NRF24L01 chip select )  */

							>;



				sc16is7x2_0: sc16is7x2@0 {
					compatible = "fsl,spi-sc16is7x2";
					spi-max-frequency = <1000000>;
					reg = <3>;
					gpio-base = <120>;
					uart-base = <0>;

					interrupt-parent = <&gpio0>;
					interrupts = <25 0>;
					uartclk = <24000000>;

					disable-modem-pins-on-startup-a;
					disable-modem-pins-on-startup-b;

					rs485-rts-active-high-a;
					rs485-rts-active-high-b;

					rs485-enabled-at-boot-time-a;
					rs485-enabled-at-boot-time-b;


					#gpio-cells = <2>;
					gpio-controller;

				};

				spidev@4 {
					compatible = "hoperf,rfm69w";
					spi-max-frequency = <1000000>;
					reg = <4>;
				};


				spidev@5 {
					compatible = "spidev";
					spi-max-frequency = <1000000>;
					reg = <5>;
				};

			};
		};

		apbx@80040000 {
			rtc@8005c000 {
				status = "okay";
			};

			lradc@80050000 {
				status = "okay";
			};

/* Uncomment no enable hardware i2c */
/*
			i2c0: i2c@80058000 {
				pinctrl-names = "default";
				pinctrl-0 = <&i2c0_pins_a>;
				status = "okay";
			};
*/


			duart: serial@80070000 {
				pinctrl-names = "default";
				pinctrl-0 = <&duart_pins_a>;
				status = "okay";
			};

			auart0: serial@8006c000 {
				pinctrl-names = "default";
				pinctrl-0 = <&auart0_2pins_a>;
				status = "okay";
			};

			usbphy0: usbphy@8007c000 {
				status = "okay";
			};


			codec: mxs-builtin-codec {
				compatible = "fsl,mxs-builtin-codec";
				reg = <0x80048000 0x2000>, <0x8004c000 0x2000>,
					<0x8005c000 0x2000>;
				reg-names = "audioout", "audioin", "rtc";
				clocks = <&clks 31>;
				clock-names = "filt";
				disable-mic-bias;
			};

			platform_dai: mxs-builtin-cpu-dai {
				compatible = "fsl,mxs-builtin-cpu-dai";
				reg = <0x80048000 0x2000>, <0x8004c000 0x2000>,
				<0x8005c000 0x2000>;
				reg-names = "audioout", "audioin", "rtc";
				interrupts = <8 6 4>;
				dmas = <&dma_apbx 0>, <&dma_apbx 1>;
				dma-names = "rx", "tx";
			};



			pwm: pwm@80064000 {
		            pinctrl-names = "default";
		            pinctrl-0 = <&pwm2_pins_a>;
		            status = "okay";
		    };



		};
	};

	ahb@80080000 {
		usb0: usb@80080000 {
		    /*vbus-supply = <&reg_33v_bus>;*/
			status = "okay";
			dr_mode = "host";
		};
	};


	leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&led_pin_gpio2_1>;

		user {
			label = "som";
			gpios = <&gpio2 1 1>;
			linux,default-trigger = "timer";
		};




		green {
			label = "green";
			gpios = <&sc16is7x2_0 7 0>;
			linux,default-trigger = "none";
		};



		red {
			label = "red";
			gpios = <&sc16is7x2_0 6 0>;
			linux,default-trigger = "default-on";
		};

	};

	mxs-builtin-audio {
		compatible = "fsl,mxs-builtin-audio";
		audio-codec = <&codec>;
		cpu-dai = <&platform_dai>;
	};




	/* Enable 1-wire network on GPIO52 (terminal block W1) */
	onewire@0 {
		compatible = "w1-gpio";
		gpios = <&gpio1 20 0>;
	};

	/* Enable 1-wire network on GPIO50 (terminal block W2) */
	onewire@1 {
		compatible = "w1-gpio";
		gpios = <&gpio1 18 0>;
	};


	mcp6542: watchdog {
		/* watchdog timer on mcp6542  */
		compatible = "linux,wdt-gpio";
		gpios = <&gpio1 0 0>;
		hw_algo = "toggle";
		hw_margin_ms = <50>;
		always-running;
		timeout-sec = <30>;
		status = "okay";
	};

	lirc-rfm69 {
		compatible = "lirc-pwm";
		pinctrl-names = "default";
		pinctrl-0 = <&rfm69_raw_pins>;
		gpio-recv = <&gpio2 27 0>;
	};

};
