menu "SoC Audio for Freescale MXS CPUs"

config SND_SOC_MXS_SAIF
	tristate "Serial Audio Interface (SAIF) support"
	depends on ARCH_MXS || COMPILE_TEST
	depends on COMMON_CLK
	select SND_SOC_GENERIC_DMAENGINE_PCM
	help
	  Say Y or M if you want to add support for codecs attached to
	  the MXS SAIF interface.

config SND_SOC_MXS_SGTL5000
	tristate "SoC Audio support for MXS boards with sgtl5000"
	depends on I2C && SND_SOC_MXS_SAIF
	select SND_SOC_SGTL5000
	help
	  Say Y if you want to add support for SoC audio on an MXS board with
	  a sgtl5000 codec.

config SND_SOC_MXS_BUILTIN
	tristate "i.MX23 built-in ADC/DAC Audio Interface support"
	depends on ARCH_MXS
	select SND_SOC_GENERIC_DMAENGINE_PCM
	select SND_SOC_MXS_BUILTIN_CODEC
	help
	  Say Y or M if you want to add support for i.MX23 internal ADC/DAC
	  audio interface.

endmenu
